{% extends "rest_framework/base.html" %}

{% block breadcrumbs %}
  <ul class="breadcrumb">

        <li class="active"><a href="{% url 'upload' %}">Images List</a></li>       
        {% if request.user.is_enterprise %}
        <li class="active"><a href="{% url 'fetch' %}">Create link</a></li>
        {% endif%}
        {% if request.user.is_authenticated %}
        <li class="active"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="active"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        

  </ul>
{% endblock %}